/* VARS */
:root{
    /* colors */
    --main-purple: #b91450; 
}

/* COMMON */
body{
    background-color: var(--main-purple);
}

section{
    padding: 2rem 0;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
}

/* HEADER */
header{
    padding: 1rem 0;
}
/* MAIN */
/* form */
.wrapper-top{
    border-radius: 40px;
}

button{
    color: var(--main-purple);
    background-color: white;
    border: 2px solid var(--main-purple);
    border-radius: 10px;
    margin-left: 1rem;
    font-size: 1.2rem;
    transition: all 125ms linear;
}

button:hover{
    background-color:  #FAF9F6;
    color: black;
}

input[type="text"]{
    border: 1px solid var(--main-purple);
    border-radius: 10px;
    width: 100%;
    padding: .2rem .5rem;
}

input[type="text"]:focus{
    border: 1px solid black;
}

label{
    margin-bottom: .5rem;
    font-weight: 500;
}

/* /form */

/* data */
.section-main{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.col-heading{
    font-size: 1rem;
}

.ms_bg-dark{
    background-color: gray;
    height: 100%;
}
/* /data */